<div class="series">
    This post is part of my series on Game Engine Development.
    <ol>
        <li>
            <a href="/game-engine/building-a-game-engine.html">Building a Game Engine</a>
        </li>
        <li>
            <a href="/game-engine/build-systems.html">Build Systems</a>
            <ol>
                <li>
                    <a href="/game-engine/build-systems-make.html">Make</a>
                </li>
                <li>
                    Autotools
                </li>
                <li>
                    Ninja
                </li>
                <li>
                    Meson
                </li>
                <li>
                    Visual Studio
                </li>
                <li>
                    Code::Blocks
                </li>
                <li>
                    CMake
                </li>
            </ol>
        </li>
    </ol>
</div>